body {
    background-color:#000000;
    margin: 0;
}
ul.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}
ul.topbar li {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}
ul.topbar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px 20px;
    text-decoration: none;
}
ul.topbar li a:hover:not(.active) {color: #0080FF;}
ul.topbar li.right {float: right;}
@media screen and (max-width: 600px){
    ul.topbar li.right, 
    ul.topbar li {float: none;}
}
.topbarlightdark{
  width: fit-content;
  cursor: pointer;
  .light{ display: none;}
  .dark{ display: block;}
  &:hover{
    .light{ display: block;}
    .dark{ display: none;}
  }
}